body {
  background-color: ivory;
}

img {
  width: 100%;
}

.post-text {
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

a:-webkit-any-link {
  text-decoration: none;
}

.post-item {
  transition: transform .5s; /* Animation time*/
}

.post-item:hover {
  transform: scale(1.1);
}
