body {
  background-color: ivory;
}

img {
  width: 100%;
}

.post-text {
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

a:-webkit-any-link {
  text-decoration: none;
}

.card {
  transition: transform .5s; /* Animation time*/
  background-color: white;
}

.card:hover {
  transform: scale(1.03);
}
